{:creds {:consumer_key        "XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
         :consumer_secret     "XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
         :access_token        "XXXX-XXXXXXXXXXXXXXXXXXXXXXX"
         :access_token_secret "XXXXXXXXXXXXXXXXXXXXXXXXXXXX"}}
